@import "~materialize-css/sass/materialize.scss";

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 3em 0;
}

.signup {
  width: 21em;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 10px;
  justify-content: center;
  align-items: center;
  
  &-title {
    @extend .teal-text;
    text-align: center;
  }
}

.input-field label {
  @extend .teal-text
}

.input-field input {
  border-bottom: 1px solid teal;
  box-shadow: 0 1px 0 0 teal;
}

.toast-color{
  background: teal;
}
