@import "~materialize-css/sass/materialize.scss";

nav {
  @extend .teal, .lighten-2
}

#nav-mobile a:hover, #nav-mobile a.activeTab {
  @extend .white, .teal-text;
  
}

#nav-mobile a {
  border-radius: 5px;
}


