$square-dimension: 6em;

.tictactoe {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
  &-square {
    width: $square-dimension;
    height: $square-dimension;
    border: 1px solid teal;
    text-align: center;
    padding-top: 33%;
  }
}

.tttContainer {
  margin: 7em auto;
  display: flex;

  justify-content: center;
  align-items: center;
}

.disable-events{
  pointer-events: none;
}